.post {
    color: lightgreen;
    background: green;
    margin: 0.25rem;
}

.entry {
    color: lightgreen;
    background: green;
    margin: 0.25rem;
}

.summary {
    color: lightgreen;
    background: green;
    margin: 0.25rem;
}

.savedScreen {
    margin-top: 1%;
    border: 2px solid black;
    background: linear-gradient(-90deg, black 0%, white 50%, black 100%);
    text-align: right;
    margin-bottom: 3%;
}

.saved {
    margin-left: 3rem;
}